.entry	
	%h1 Цены
	%br/
	%p Для каждого сайта стоимость разработки определяется индивидуально, но какая-то определенность необходима любому из нас, поэтому далее приводятся примерные расценки, дабы заранее можно было расчитать функционал сайта исходя из бюджета который планируется на него затратить.
	%h3 1. Сайт стандартный от 5 000 руб.
	%ul
		%li современный дизайн;
		%li текстовые разделы;
		%li каталог товаров.
	%br/
	%h3 2. Интернет-магазин от 20 000 руб.
	%ul
		%li современный дизайн;
		%li система администрирования сайта;
		%li текстовые разделы;
		%li каталог товаров, с возможностью заказа товаров;
		%li корзина покупателя.
	%br/
	%h3 3. Корпоративный сайт от 30 000 руб.
	%ul
		%li современный дизайн;
		%li система администрирования сайта;
		%li текстовые разделы;
		%li каталог товаров; 
		%li объединение с программами предприятия (1С, Excel)
		%li фотогаллерея
		%li новости.
	%p 
		При заказе сайта предоставляется
		%strong бесплатная 
		помощь в подборе и регистрации домена и хостинга для сайта.
	%p
		Поддержание сайта в актуальном, рабочем состоянии, обновление его элементов, добавление новой функциональности, а также продвижение сайта в поисковых системах, все это 
		%strong жизненно 
		необходимо, если сайт разрабатывается не на месяц-два, а как минимум на год. Можно, конечно, своими силами выполнять те или иные задачи по жизнеобеспечиванию сайта, но лучше доверить это дело профессионалам. 
		= link_to('Юлиансайт', { :controller => 'homes', :action => 'index' }, :class => 'active')
		готов предоставить 
		%strong полный
		спектр услуг за умереную плату, для того, чтобы сайт радовал глаз клиентов и Ваш кошелек.
	%p.info
		Цена определяет качество
